@tailwind base;
@tailwind components;
@tailwind utilities;

.styled-container {
  font-family: Arial, sans-serif;
  background: #111827;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.styled-container .container {
  width: 100%;
  max-width: 400px;
}
